[run]
branch = True
source = .
omit =
    venv/*
    tests/*
    migrate_*.py
    */migrations/*
    run.py
    seed_data.py
    app.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod

partial_branches =
    pragma: no branch

[html]
directory = htmlcov
