[run]
source = .
branch = True
omit = 
    venv/*
    tests/*
    instance/*
    */__pycache__/*
    */site-packages/*
    seed_data.py
    run.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    if TYPE_CHECKING:

fail_under = 95
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml
