[tool.black]
line-length = 100
target-version = ['py312']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | __pycache__
  | \.pytest_cache
  | instance
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = ["venv", "__pycache__", "instance", "migrations"]

